<div class="dashboard-sidebar-main-content-flex">
  <div class="dashboard-sidebar">
    <h3 class="logo">MY SPLITS</h3>
    <div class="sidepanel-navigation">
      <i class="fa fa-tachometer sidebar-navigation-icon" aria-hidden="true"></i>
      <p> DASHBOARD</p>
    </div>
    <div class="sidepanel-navigation"  (click)="navigateToGroups()">
      <i class="material-icons sidebar-navigation-icon">group</i>
      <p> GROUPS</p>
    </div>
    <div class="sidepanel-navigation"  (click)="navigateToGroups()">
      <i class="material-icons sidebar-navigation-icon">group</i>
      <p> INVITES</p>
    </div>

  </div>
  <div class="top-navbar">
    <div>
      <p>Dashboard</p>
    </div>
  </div>
  <div class="dashboard-content">

    <router-outlet></router-outlet>
  </div>
</div>
