/* You can add global styles to this file, and also import other style files */

.theme-button-color {
  background: #8655fc;
  color: #fff;
  border-radius: 20px;
}
.theme-button-no-radius {
  background: #8655fc;
  color: #fff;
}
.theme-button-color2 {
  background: #fb5757;
  color: #fff;
  border-radius: 20px;
}

.login-container {
  max-width: 450px;
  margin: auto;
  margin-top: 60px
}

.login-signup-title {
  letter-spacing: 0;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 7px;
  text-align: center;
  padding: 50px;
  color: #303641;
  color: white;
  background: #8655fc;
}

.login-signup-button-container {
  display: flex;
  margin: 0px;
  padding: 0px;
  justify-content: space-around;
  padding-bottom: 20px;
}

.login-input-fields {
  width: 90%;
  margin-left: auto !important;
  margin-right: auto !important;
}

/**********/

.custom-modal {
  z-index: 100000;
  position: fixed;
  background: #0000005c;
  width: 100%;
  height: 100%;
  top: 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.modal-body {
  width: 450px;
  position: relative;
  background: white;
  height: 200px;
  border-radius: 2px;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 11px 15px -7px rgba(0, 0, 0, 0.2);
}

.modal-header {
  padding: 20px;
  text-align: center;
  font-weight: bold;
}

.modal-header p {
  padding: 0px;
  margin: 0px;
}

.modal-content {
  padding: 0px 20px;
  text-align: center;
}

.modal-content p{
  padding: 0px;
  margin: 0px;
}
.modal-footer{
    position: absolute;
    bottom: 0;
    right: 27px;
    cursor: pointer;
}
.loader-image{
  width: 50px;
}

.form-error-messages{
  text-align: center;
    color: red;
}
.dashboard-sidebar-main-content-flex{
 /* display: flex;*/
}
.dashboard-sidebar{
    width: 250px;
    height: 100%;
    background: #303641;
    position: fixed;
    box-shadow: 2px 0 32px rgba(0,0,0,.05);
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    top: 0;
    z-index: 10;
}
.dashboard-content{
  padding-left: 250px;
  width: 100%;
  margin-top: 70px;
}
.logo{
  text-align: center;
  color: white;
  font-weight: bold;
}
.top-navbar{
    width: 100%;
    position: fixed;
    background: white;
    border-bottom: 1px solid #d8d8d8;
    margin-left: 250px;
    height: 70px;
    top: 0;
    z-index: 9;
}
.page-header{
  padding: 10px 39px;
}
.group-list-flex-container{
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.group-list-flex-items{
  width: 30%;
  -webkit-box-shadow: 1px 0px 31px -7px rgba(217,217,217,1);
-moz-box-shadow: 1px 0px 31px -7px rgba(217,217,217,1);
box-shadow: 1px 0px 31px -7px rgba(217,217,217,1);
  padding:10px;
  margin:10px;
}
.group-headers{
    font-weight: bold;
    text-transform: capitalize;
    margin-top:0px;
    padding-left:10px;
}
.group-list-flex-items:nth-child(odd) {
  background: #f1e7fe;
}

.group-list-flex-items:nth-child(even) {
  background: #fdf7e8;
}
.group-list-flex-items:hover{
  background:white;
  cursor: pointer;
}
.avatar-and-name-flex-container{
  display:flex;
  align-items:center;
}
.avatar-image{
  width:45px;
}
.expenses-container{
    width: 90%;
    margin: auto;
    margin-top: 20px;
    position: relative;
}
.expenses-list{
  box-shadow: 3px 3px 12px 0px rgba(218, 218, 218, 0.8);
  padding: 0px 16px;
}
.expenses-list p{
  margin: 0;
  padding: 20px 0px;
  font-weight: 500;
}
.expenses-list:nth-child(odd){

}
.expenses-list:nth-child(even){
  background-color: rgba(233, 200, 147, 0.2);
}
.p-margin-0{
  margin: 0;
}
.expense-list-header{
  background-color: #777777;
  color: white;
  padding: 16px;
  display: flex;
}
.group-header{
  font-weight: bold;
    font-size: 20px;
    color: #777777;
    padding-left: 70px;
}
.expense-list-header-items{
  width: 20%;
}
.expenses-list-items{
  width: 20%;
}
.expenses-list-data{
  display: flex;
}
.add-expense-button-container{
  position: absolute;
    top: -40px;
    right: 0;
}
.add-expense-form-div{

    display: none;
    width: 40%;
    margin: auto;
    box-shadow: 3px 3px 12px 0px rgba(218, 218, 218, 0.8);
    border-radius: 4px;
}
