<div class="z-depth-2 login-container">

  <h4 class="login-signup-title">LOGIN</h4>
  <div class="row">
    <div class="col s12">
      <div class="row login-input-fields">
        <div class="input-field col s12">
          <input id="email" type="text" class="validate" [(ngModel)]="username">
          <label for="email">User Name</label>
        </div>
        <div class="input-field col s12">
          <input id="email" type="password" class="validate" [(ngModel)]="password">
          <label for="email">Password</label>
        </div>


      </div>

    </div>
  </div>
  <div class="login-signup-button-container">
    <p><a class="waves-effect waves-light btn  theme-button-color" (click)="loginUser()"><i
          class="material-icons right">send</i>LOGIN</a></p>
    <p><a class="waves-effect waves-light btn theme-button-color2" routerLink="/signup"><i class="material-icons right">person_add</i>SIGNUP</a></p>

  </div>
  <a style="padding-left: 40px;" routerLink="/forgotpassword">Forgot password</a>

</div>
