<div class="z-depth-2 login-container">

  <h4 class="login-signup-title">CHANGE PASSWORD</h4>
  <div class="row">
    <div class="col s12">
      <div class="row login-input-fields">
        <div class="input-field col s12">
          <input id="email" type="email" class="validate" [(ngModel)]="email">
          <label for="email">Email</label>
        </div>
        <div class="input-field col s12">
          <input id="email" type="text" class="validate" [(ngModel)]="otp">
          <label for="email">OTP</label>
        </div>
        <div class="input-field col s12">
          <input id="email" type="password" class="validate" [(ngModel)]="password">
          <label for="email">Password</label>
        </div>
        <div class="input-field col s12">
          <input id="email" type="password" class="validate" [(ngModel)]="repassword">
          <label for="email">Retype Password</label>
        </div>


      </div>

    </div>
  </div>
  <div class="login-signup-button-container">
    <p><a class="waves-effect waves-light btn  theme-button-color" (click)="changePassword()"><i
          class="material-icons right">send</i>SUBMIT</a></p>


  </div>


</div>
